*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'Roboto Slab', serif;
    min-width: 100vh;
    
}

/* NAVbar */

header{
    width:auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 1250;
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
}

header ul{
    list-style-type: none;
    margin:0;
    padding:0;
    top:0;
    overflow:hidden;
    flex:1;
    text-align: right;
    font-size: 20px;;
    background-color: white;
}

header li{
    display: inline-block;
    width: auto;
    margin:10px 20px;
    top:0;
    background-color: white;
}

header ul li a{
    text-decoration: none;
    display: block;
    color: var(--secondary-color);
    background-color: white;
    transition: .4s;
}
header ul li a:hover{
    color:red;
    font-weight: bolder;
    transform: translateY(-5px);
}

#logo{
    display:grid;
    place-items: center;
    width: 80px;
    cursor: pointer;
    background-color: white;
}


.container{
    padding:2rem;
}
.slider-wrapper{
    position:relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit:cover;
}

.slider-nav{
    display: flex;
    column-gap:1rem;
    position:absolute;
    bottom:1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.text-box{
    display: flex;
    margin:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

